*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
img{ 
    max-width: 100%; 
} 
.container{ 
    display: flex; 
    text-align: center; 
    justify-content: center; 
    
} 
.card{ 
    border: 1px solid lightgray; 
    border-bottom-left-radius: 1rem; 
    border-bottom-right-radius: 1rem; 
    box-shadow: 0 0 10px #ababab; 
} 
.movie .details{ 
    padding: 1rem; 
} 

.title{ 
    text-align: center; 
    text-transform: uppercase; 
    color: #933d48; 
    text-shadow: 0 0 2px; 
}