<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Main principale -->
    <div id="app">
        <!-- Primo input collegato nel file APP -->
        <input type="text" v-model="first_name">
        <!-- Secondo input collegato nel file APP -->
        <input type="text" v-model="last_name">
        <p>Ciao {{ first_name }} {{ last_name }}</p>
    </div>

    <!-- Link a VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Collegamento al file principale -->
    <script src="../live-1/assets/app.js"></script>
</body>
</html>